{% extends 'base.html' %}
{% load static %}

{% block css%}
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block title %}
  About Me
{% endblock %}

{% block content %}
  <h1 class="text-center"> About me</h1>
  <p>A little about me, I grew up in Southern California. When I was 23 I joined the US Army and served as a helicopter mechanic where I learned many skills. I lived all over the US and deployed twice to the middle east in support of operation enduring freedom(OEF) and multi-functional observation force(MFO). I served for 6 1/2yrs, upon leaving the military I moved to Denver Colorado and started working for Lockheed Martin Space where I used the skills I learned from the military and applied them to inspecting all things space. I have inspected the Mars2020 vehicle, Artemis space capsules, LUCY and currently the DragonFly vehicle. My hobbies include motorcycles, hotrods, hunting and fishing. </p>
  <img width="500"src="{% static 'img/blackhawk.avif' %}" alt="blackhawk">
  <img width="500"src="{% static 'img/64.avif' %}" alt="AH-64">
{% endblock %}

{% block js %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}