<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>About Me</h1>
  <p>A little about me, I grew up in Southern California. When I was 23 I joined the US Army and served as a helicopter mechanic where I learned many skills. I lived all over the US and deployed twice to the middle east in support of operation enduring freedom(OEF) and multi-functional observation force(MFO). I served for 6 1/2yrs, upon leaving the military I moved to Denver Colorado and started working for Lockheed Martin Space where I used the skills I learned from the military and applied them to inspecting all things space. I have inspected the Mars2020 vehicle, Artemis space capsules, LUCY and currently the DragonFly vehicle. My hobbies include motorcycles, hotrods, hunting and fishing. </p>
  
</body>
</html>